<a href="https://colab.research.google.com/github/capajaro/Curso_ARG_Python/blob/main/Daniel_G%C3%B3mez_Challenge_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Challenge_1: Scatter plot

Author: Daniel GÃ³mez

Import Packages

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

Import csv files and
Calculate mean

In [26]:
red = pd.read_csv('https://raw.githubusercontent.com/capajaro/Curso_ARG_Python/main/winequality-red.csv', delimiter=';')
white = pd.read_csv('https://raw.githubusercontent.com/capajaro/Curso_ARG_Python/main/winequality-white.csv', delimiter=';')

In [27]:
# With aims to review what are the numeric columns we just type the Dataframe and choose the right datas
red

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
3              11.2             0.280         0.56  ...       0.58      9.8        6
4               7.4             0.700         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[1599 rows x 12 columns]

In [45]:
# Notice every column's data is numeric 

# Calculate Mean
red_col_names = red.columns
vec_mean = np.zeros(red.shape[1])
for i in red_col_names:
  vec_mean[k] = red.loc[:, i].mean()
  print('The ' + i +' mean is {:.2f}'.format(vec_mean[k]))

The fixed acidity mean is 8.32
The volatile acidity mean is 0.53
The citric acid mean is 0.27
The residual sugar mean is 2.54
The chlorides mean is 0.09
The free sulfur dioxide mean is 15.87
The total sulfur dioxide mean is 46.47
The density mean is 1.00
The pH mean is 3.31
The sulphates mean is 0.66
The alcohol mean is 10.42
The quality mean is 5.64

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed acidity, Length: 1599, dtype: float64
0       0.700
1       0.880
2       0.760
3       0.280
4       0.700
        ...
1594    0.600
1595    0.550
1596    0.510
1597    0.645
1598    0.310
Name: volatile acidity, Length: 1599, dtype: float64
0       0.00
1       0.00
2       0.04
3       0.56
4       0.00
        ...
1594    0.08
1595    0.10
1596    0.13
1597    0.12
1598    0.47
Name: citric acid, Length: 1599, dtype: float64
0       1.9
1       2.6
2       2.3
3       1.9
4       1.9
       ...
1594    2.0
1595    2.2
1596    2.3
1597    2.0
1598    3.6
Name: residual sugar, Length: 1599, dtype: float64
0       0.076
1       0.098
2       0.092
3       0.075
4       0.076
        ...
1594    0.090
1595    0.062
1596    0.076
1597    0.075
1598    0.067
Name: chlorides, Length: 1599, dtype: float64
0       11.0
1       25.0
2       15.0
3       17.0
4       11.0
        ...
1594    32.0
1595    39.0
1596    29.0
1597    32.0
1598    18.0
Name: free sulfur dioxide, Length: 1599, dtype: float64
0       34.0
1       67.0
2       54.0
3       60.0
4       34.0
        ...
1594    44.0
1595    51.0
1596    40.0
1597    44.0
1598    42.0
Name: total sulfur dioxide, Length: 1599, dtype: float64
0       0.99780
1       0.99680
2       0.99700
3       0.99800
4       0.99780
         ...
1594    0.99490
1595    0.99512
1596    0.99574
1597    0.99547
1598    0.99549
Name: density, Length: 1599, dtype: float64
0       3.51
1       3.20
2       3.26
3       3.16
4       3.51
        ...
1594    3.45
1595    3.52
1596    3.42
1597    3.57
1598    3.39
Name: pH, Length: 1599, dtype: float64
0       0.56
1       0.68
2       0.65
3       0.58
4       0.56
        ...
1594    0.58
1595    0.76
1596    0.75
1597    0.71
1598    0.66
Name: sulphates, Length: 1599, dtype: float64
0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
1594    10.5
1595    11.2
1596    11.0
1597    10.2
1598    11.0
Name: alcohol, Length: 1599, dtype: float64
0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

8.319637273295838